

  .row{
       width: 100%;
  }
  .col-sm-3,
  .col-sm-7{
    margin-left: 8%;
    display: inline-block;

  }
  .col-sm-3 label{
    color: darkblue;
    margin-left:40%;
    font-size: 15px;
    font-weight: bold;
  }
  .col-sm-1{
    color: darkblue;
    margin-left: 2%;
  }
  .col-sm-1 label{
    color: darkblue;
    margin-left:-13%;
  }
  .col-sm-5 input{
    color: darkblue;
    margin-left: 50%;
  }
  .col-sm-7 input{
    width: 75%;
    height: 30px;
    color: darkblue;
    border-radius:7px;
    margin-bottom: 25px;
    margin-left: 3%; 
  }
  .col-sm-7 label{
    color: darkblue;
    margin-left: 3%; 
  }
  .col-sm-7 select{
    width: 75%;
    height: 30px;
    color: darkblue;
    border-radius:7px;
    margin-bottom: 25px;
    margin-left: 3%;
  }
  .headerfile{
    background-color: rgb(0, 119, 255);
    text-align: center;
    color:white;
    border-style: groove;
    width: 100%;
  }
  .btn1last{
    color: white;
    background-color:darkblue;
    margin-top: 15px;
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-top:25px; 
    font-weight: bold;
  }
  .btn2last{
    color: white;
    background-color:darkblue;
    margin-top: 15px;
    width: 20%;
    height: auto;
    margin-left: 2%;
    margin-top:25px;
    font-weight: bold; 
  }
  .btn3last{
    color: white;
    background-color:darkblue;
    margin-top: 15px;
    width: 15%;
    height:35px;
    margin-top:25px;
    font-weight: bold; 
  }
  .mul{
    color: white;
    background-color: darkblue;
    margin-top: 15px;
    width: 8%;
    font-weight: bold;
  }
  .mul1{
    color: white;
    background-color: darkblue;
    margin-top: 15px;
    width: 8%;
    margin-left:2%;
    font-weight: bold;
  }
  .chkbox{
    color: darkblue;
    text-align: center;
    margin-top:25px; 
  }
  .chkbox label{
    color: darkblue;
    margin-left:1%; 
  }
  
  .buttonelement{
    text-align: center;
  }
  .multiplebuttons{
    text-align: center;
  }
  .btn15{
    background-color: darkblue;
    margin-left: 5%;
    color: white;
    width: 20%;
  }
  .element15{
    margin-left: 15%;
    color: darkblue;
  }
  .element15input{
    margin-left: 5%;
    width: 40%;
  }