.cardHeader{
    background-color: #4A81D2;
    text-align: left;
}  
.cardWidth{
    width:49%;
}
.cardBody{
    height:650px;
}
/*  */
.inputcolorradio{
    background-color:rgb(214, 214, 214);
    /* color:rgb(99,97,97); */
    border-radius:5px;
    padding-top:1%
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, 
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, 
.col-md-12, .col-md {
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.form-control {
    
    color: #495057;
}

.DashboardCards{
    margin-left: 2%!important;
    text-align: right!important;
    padding-top: 5%!important;
    padding-bottom: 5%!important;
    padding-right: 5%!important;
    border-radius: 5%!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px!important;
    margin-left: 0px!important;
}
@media (min-width: 768px){
.col-md-4 {
    -ms-flex: 0 0 33.333333%;
     flex: 0 0 33.333333%; 
     max-width: 33.333333%;
}
}
@media (min-width: 492px){
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
         flex: 0 0 33.333333%; 
         max-width: 33.333333%;
    }
    }
.popup-content{
    width: 100%!important;
}    
.react-datepicker-wrapper{
    width: 100%!important;
}